.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  /* margin-left: 2rem; */
}
/* 
.nav-pills .nav-link.active {
  background-color: white;
} */

.navbar a.active {
  text-decoration: underline;
}

.navbar a:hover {
  text-decoration: underline;
  color: #c03258;
}

.navbar a {
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-link:hover {
  color: #c03258 !important;
  text-decoration: underline;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.8rem;
  color: #c03258 !important;
}
